{% extends 'flatpages/default.html' %}

{% block title %}
Post
{% endblock title %}

{% block content %}
    <br/>
    <h4>{{ post.author }}</h4><br>
    <h1>{{ post.title }}</h1><br>
    <h3>{{ post.content|safe}}</h3><br>
    <h5>{{ post.date_create|date:'d.m.Y' }}</h5><br>

    {% if user.is_authenticated %}
        {% if post.author != user %}
            <button><a class="nav-link" href="{{ request.path }}/response">Добавить отклик</a></button>
        {% endif %}
    {% endif %}
{% endblock content %}