{% extends 'flatpages/default.html' %}

{% load custom_tags %}

{% block title %}
Responses to my ads
{% endblock title %}

{% block content %}
    <br/>
    <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Найти" />
    </form>

    {% if responses_to %}
        <table>
            {% for response in responses_to %}
                {% if response.post.author == user %}
                    <tr>
                        <td>{{ response.accepted }}</td>
                        <td>| {{ response.author }}</td>
                        <td>| {{ response.post.title }}</td>
                        <td>| {{ response.date_create|date:'d.m.Y' }}</td>
                        <td>| {{ response.text|safe|truncatechars:15 }}</td>
                        <td>---><a href="{% url 'response_detail' pk=response.pk %}">Перейти</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% else %}
       <h2>Откликов нет!</h2>
   {% endif %}

       {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}